<header id="header_section"
    class="header_section sticky_header d-flex align-items-center text-white border_bottom clearfix">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-2">
                <div class="brand_logo">
                    <a href="#" class="brand_link">
                        <img src="assets/images/Logo.png" alt="logo_not_found">
                        <img src="assets/images/Logo.png" alt="logo_not_found">
                    </a>
                    <button type="button" class="menu_btn">
                        <i class="fal fa-bars"></i>
                    </button>
                </div>
            </div>

            <div class="col-lg-8">
                <nav class="main_menu ul_li_right clearfix">
                    <ul class="clearfix">

                        <li class="active"><a href="#banner_section">Home</a></li>
                        <li><a href="#feature_section">About us</a></li>
                        <!-- <li class="menu_item_has_child">
                            <a href="#!">Products</a>
                            <ul class="submenu">
                                                <li><a href="#">Products</a></li>
                                                <li><a href="#">Products</a></li>
                                            </ul>
                        </li> -->
                        <li class="menu_item_has_child">
                            <a href="#service_section">Service</a>
                            <!-- <ul class="submenu">
                                                <li><a href="#">Service</a></li>
                                                <li><a href="#">Service</a></li>
                                            </ul> -->
                        </li>
                        <li><a href="#blog_section">Blog</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-lg-2">
                <a href="#contact-info-section" class="btn btn_border border_white float-right">Contact Us</a>
            </div>

        </div>
    </div>
</header>

<div class="sidebar-menu-wrapper">
    <div id="mobile_menu" class="mobile_menu">

        <div class="brand_logo mb-50 clearfix">
            <a href="#" class="brand_link">
                <img src="assets/images/header-logo.png" alt="logo_not_found">
            </a>
            <span class="close_btn"><i class="fal fa-times"></i></span>
        </div>

        <div class="mobile_menu_dropdown menu_list ul_li_block mp_balancing mb-50 clearfix">
            <ul>
                <li class="active"><a href="#banner_section">Home</a></li>
                <li><a href="#feature_section">About us</a></li>
                <li class="menu_item_has_child">
                    <a href="#!">Products</a>
                    <!-- <ul class="submenu">
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Products</a></li>
                        </ul> -->
                </li>
                <li class="menu_item_has_child">
                    <a href="#service_section">Service</a>
                    <!-- <ul class="submenu">
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Service</a></li>
                        </ul> -->
                </li>
                <li><a href="#blog_section">Blog</a></li>
            </ul>
        </div>

        <a href="#contact-info-section" class="btn bg_default_blue">Contact Us</a>

    </div>
    <div class="overlay"></div>
</div>