<footer id="footer_section" class="footer_section bg_dark_blue text-white deco_wrap sec_ptb_0 pb-0 clearfix">

  <div class="widget_area">
    <div class="container position-relative">
      <div class="row justify-content-lg-between">

        <div class="col-lg-4 col-md-12">
          <div class="widget about_content pr-0">
            <div class="brand_logo mb-30">
              <a href="index.html" class="brand_link">
                <img src="assets/images/Logo.png" alt="logo_not_found">
              </a>
            </div>
            <p>From web app development to mobile app development to software testing, we provide an
              array of software development and maintenance services. </p>
            <!-- <ul class="clearfix social-list">
              <li>
                <a href="#!">
                  <i class="icon-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#!">
                  <i class="icon-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#!">
                  <i class="icon-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#!">
                  <i class="icon-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#!">
                  <i class="icomoon icon-instagram"></i>
                </a>
              </li>

            </ul> -->

          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-4">
          <div class="widget useful_links ul_li_block">
            <h3 class="widget_title mb-30">Quick Links</h3>
            <ul class="clearfix">
              <!-- <li><a href="#">Product and Business</a></li>
              <li><a href="#">Digital Marketing</a></li>
              <li><a href="#">Service Excellence</a></li> -->
              <li><a href="#">Home</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#blog_section">Blog</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4">
          <div class="widget useful_links ul_li_block">
            <h3 class="widget_title mb-30">SUPPORT</h3>
            <ul class="clearfix">
              <li><a routerLink="/TermsandConditions">Terms and Conditions</a></li>
              <li><a routerLink="/privacypolicy">Privacy Policy</a></li>
              <!-- <li><a href="#">Responsible Sourcing Policy</a></li>
              <li><a href="#">Disclaimer</a></li> -->
              <li><a href="#contact-info-section">Contact Us</a></li>
            </ul>
          </div>
        </div>

        <!-- <div class="col-lg-3 col-md-4 col-sm-4">
                    <div class="social_icon_rounded ul_li ml--30">
                        <h3 class="widget_title mb-30">Subscribe Now</h3>
                        <p>Subscribe for curated articles, newsletters and blogs to know more about our
                            services. </p>
                        <div class="form-group mb-0 pt-2">
                            <div class="input-group">
                                Email Input
                                <input autocomplete="email" class="input form-control error" name="semail"
                                    id="semail" placeholder="Enter your email" maxlength="105">
                                <span class="f-mail"></span>
                                <div class="input-group-append">
                                    Submit Button
                                    <div id="sendy"><button
                                            class="btn ui-gradient-green btn-sm">Subcribe</button></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> -->

      </div>
    </div>
  </div>

</footer>
