<body class="home_software">
    <div class="body_wrap">
        <div id="thetop"></div>
        <div id="backtotop">
            <a href="#" id="scroll">
                <i class="fal fa-arrow-up"></i>
                <i class="fal fa-arrow-up"></i>
            </a>
        </div>
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        <div class="bottom-footer">
            <div class="copyright_text">
                <p class="mb-0">
                    Copyright © 2021 Genpixels. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</body>