<main>
  <section id="banner_section"
    class="banner_section software_banner deco_wrap d-flex align-items-center text-white clearfix">
    <div class="container">
      <div class="row align-items-start justify-content-lg-between">

        <div class="col-lg-5 order-last">
          <div class="banner_image scene">
            <div class="big_image">
              <div class="layer" data-depth="0.2">
                <div>
                  <img src="assets/images/banner-img.png" alt="image_not_found">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="banner_content">
            <h1 class="title_text mb-30 text_effect_wrap text_effect_wrap">
              <span class="">
                Grow Your Business
              </span>
              <span class="">
                with Our Marketing Agency
              </span>
            </h1>
            <p class="mb-4">
              A software solution company for Small Medium Businesses (SMB’s) to Enterprise Firms
            </p>
            <div class="btns_group ul_li">
              <ul class="d-flex align-items-start clearfix">
                <li><a href="#contact-info-section" class="btn btn_border border_white">Enquire Now</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="deco_image bg_shape_2" style="background:url(assets/images/banner-bg.png);"></div>

    <div class="deco_image shape_2">
      <img src="assets/images/bannerbg-circle.png" alt="shape_not_found">
    </div>

    <div class="deco_image cloud_1">
      <img src="assets/images/banner-shape1.png" alt="shape_not_found">
    </div>
    <div class="deco_image cloud_2">
      <img src="assets/images/banner-shape2.png" alt="shape_not_found">
    </div>
    <div class="deco_image shape_1">
      <img src="assets/images/dot-img.png" alt="shape_not_found">
    </div>
  </section>
  <!-- banner_section - end
				================================================== -->


  <!-- service_section - start
				================================================== -->
  <section id="service_section" class="service_section clearfix">
    <div class="container">

      <div class="row pt-5 pb-5">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="service_primary_2">
            <div class="item_icon icon_image">
              <img src="assets/images/about-icon1.png" alt="icon_not_found">
            </div>
            <h3 class="item_title">Web Development</h3>
            <p>Hire the best web app development team and get enterprise ready web apps, websites with rich
              UI/UX. With a proven track record of delivering scalable web apps, our software architects
              are experts in prototyping, building, redesigning, and migrating web apps.
            </p>
            <p><span>~~~ 01</span></p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="service_primary_2">
            <div class="item_icon icon_image">
              <img src="assets/images/about-icon2.png" alt="icon_not_found">
            </div>
            <h3 class="item_title">Mobile App Development</h3>
            <p>Partner with the best mobile app development team and architect powerful mobile apps for your
              business. Enhance your brand's visibility by developing the most effective flutter, android,
              iOS, and Java applications to increase your revenue by attracting more and more users.
            </p>
            <p><span>~~~ 02</span></p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="service_primary_2">
            <div class="item_icon icon_image">
              <img src="assets/images/about-icon3.png" alt="icon_not_found">
            </div>
            <h3 class="item_title">Digital Marketing</h3>
            <p>Are you trying to establish a digital presence for your brand? At Genpixels, we have a team
              of skilled digital strategists who are well-versed with the industries strategies, solutions
              and work within your budgetary, time constraints.
            </p>
            <p><span>~~~ 03</span></p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- service_section - end
				================================================== -->


  <!-- feature_section - start
				================================================== -->
  <section id="feature_section" class="feature_section sec_ptb_60 deco_wrap clearfix">
    <div class="container">

      <div class="feature_item">
        <div
          class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">
          <div class="col-lg-7 col-md-7 col-sm-9">
            <div class="feature_image_14 scene_1">
              <div class="big_image">
                <div class="layer">
                  <div>
                    <img src="assets/images/about-img.png" alt="image_not_found" data-parallax='{"y" : 30}'>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-5 col-md-5 col-sm-9">
            <div class="section_title decrease_size ml--30 c_slide_in">
              <span class="highlight-line">About Our Company</span>
              <h2 class="title_text mb-30">
                <span class="">
                  <span class="">
                    The Best Choice For Your Successful Business!
                  </span>
                </span>
              </h2>
              <p class="mb-50">
                Our team of expert software architects have a track record of delivering highly complex
                apps for enterprise firms and SMB’s.
              </p>

              <div class="panel-group" id="accordion">

                <!-- First Panel -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">Our
                      Story</h4>
                  </div>

                  <div id="collapseOne" class="panel-collapse collapse show">
                    <div class="panel-body">
                      Technology can make or break companies. At, Genpixels we are aware of this
                      ground breaking phenomenon and we provide a complete range of software
                      solutions that transforms brands, develop businesses and make people’s life
                      effortless.

                    </div>
                  </div>
                </div>

                <!-- Second Panel -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseTwo">Our
                      Milestones</h4>
                  </div>

                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      Our technical expertise and extensive experience in software gives us an
                      edge over our competitors. We are committed to consistently offering the
                      best IT solutions and enterprise ready mobile solutions. We completely
                      understand your time, budget constraints and that’s why we offer customized
                      budget plans to best suit your business needs. Browse through our list of
                      services and choose the one that meets your business goals.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="client-logo-wrapper">
				<div class="row">
					<div class="col-md-5">
						<div class="section_title increase_size mr--30 c_slide_in">
							<span class="highlight-line">Clients</span>
							<h2 class="title_text mb-30">
								<span class="">
									<span class="">
										Our Customer
									</span>
								</span>
							</h2>
						</div>
					</div>
					<div class="col-md-5">
						<div class="section_title increase_size mr--30 c_slide_in">
							<p class="mb-30">
								Lorem Ipsum generators on the Internet tend to repeat predefined
								necessary, making this the first true generator on the Internet.
								It uses a dictionary.Many desktop publishing packages.
							</p>
						</div>

					</div>
					<div class="col-md-2"></div>
				</div>

				<owl-carousel-o [options]="customOptions">
					<ng-template carouselSlide><img src="assets/images/client-logo1.png"></ng-template>
					<ng-template carouselSlide><img src="assets/images/client-logo2.png"></ng-template>
					<ng-template carouselSlide><img src="assets/images/client-logo3.png"></ng-template>
					<ng-template carouselSlide><img src="assets/images/client-logo4.png"></ng-template>
					<ng-template carouselSlide><img src="assets/images/client-logo5.png"></ng-template>
					<ng-template carouselSlide><img src="assets/images/client-logo1.png"></ng-template>
				</owl-carousel-o>
			</div> -->

      <div class="feature_item pt-5 pb-5">
        <div
          class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">

          <div class="position-relative col-lg-6 col-md-6 col-sm-9 order-last">
            <div class="">
              <div class="big_image">
                <div class="layer">
                  <div>
                    <img src="assets/images/service-img.png" alt="image_not_found" data-parallax='{"y" : 30}'>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-9">
            <div class="section_title increase_size mr--30 c_slide_in">
              <span class="highlight-line">Our Services</span>
              <h2 class="title_text mb-30">
                <span class="">
                  <span class="">
                    Introduce Best
                    SEO Services for Business
                  </span>
                </span>
              </h2>
              <p class="mb-30">
                Take your business to the next level by generating organic traffic to your
                website. Uplift your SEO system with in-depth analysis of your website vs your
                competitors and get expert solutions to boost your organic search performance
                from the SEO specialists at Genpixels.
              </p>
              <div class="row m-0">
                <div class="col-md-12">
                  <div class="service-item">
                    <img src="assets/images/seo-icon1.png" class="img-fluid mb-3" alt="'">
                    <h4>SMO and SMM Services</h4>
                    <p>Take advantage of the right social media channels to help increase
                      your target audience in the social world. At Genpixels, we focus on
                      creating effective brand awareness, improved audience insights,
                      advanced targeting, improved rankings in SERP and result tracking.
                      Contact us to exceed your marketing goals and to reach a broader
                      market. </p>
                  </div>
                </div>
                <!-- <div class="col-md-6">
											<div class="service-item">
												<img src="assets/images/seo-icon2.png" class="img-fluid mb-3">
												<h4>Awesome Results</h4>
												<p>Lorem Ipsum generators on the
													Internet tend to repeat predefine
													visual form of a document</p>
											</div>
										</div> -->
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </section>
  <!-- feature_section - end
				================================================== -->

  <!-- <section class="testimonial-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="assets/images/left-testmonialimg.png" alt="'">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <owl-carousel-o [options]="testimonialslide">
            <ng-template carouselSlide>
              <div class="testimonial-content">
                <p>There are many variations of passages of Lorem Ipsum available,
                  but the majority have suffered alteration in some form, by injected humour,
                  or randomised words which don't look even slightly believable.</p>
                <h4>Lavina Forrester</h4>
                <h6>Charlo, NC</h6>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="testimonial-content">
                <p>There are many variations of passages of Lorem Ipsum available,
                  but the majority have suffered alteration in some form, by injected humour,
                  or randomised words which don't look even slightly believable.</p>
                <h4>Lavina Forrester</h4>
                <h6>Charlo, NC</h6>
              </div>

            </ng-template>
            <ng-template carouselSlide>
              <div class="testimonial-content">
                <p>There are many variations of passages of Lorem Ipsum available,
                  but the majority have suffered alteration in some form, by injected humour,
                  or randomised words which don't look even slightly believable.</p>
                <h4>Lavina Forrester</h4>
                <h6>Charlo, NC</h6>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="testimonial-content">
                <p>There are many variations of passages of Lorem Ipsum available,
                  but the majority have suffered alteration in some form, by injected humour,
                  or randomised words which don't look even slightly believable.</p>
                <h4>Lavina Forrester</h4>
                <h6>Charlo, NC</h6>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="testimonial-content">
                <p>There are many variations of passages of Lorem Ipsum available,
                  but the majority have suffered alteration in some form, by injected humour,
                  or randomised words which don't look even slightly believable.</p>
                <h4>Lavina Forrester</h4>
                <h6>Charlo, NC</h6>
              </div>
            </ng-template>
          </owl-carousel-o>

        </div>
      </div>
    </div>
  </section> -->

  <!-- blog_section - start
				================================================== -->
  <section id="blog_section" class="blog_section sec_ptb_120 clearfix">
    <div class="container">
      <div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">

        <div class="row">

          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="blog_grid decrease_size">

              <a href="#!" class="item_image">
                <img src="assets/images/blog-img1.png" alt="image_not_found">
              </a>
              <div class="item_content">
                <h3 class="item_title">
                  <a href="#!">How Knowledge Sharing in Your
                    Organization Improves
                    Performance</a>
                </h3>

                <!-- <p class="author-name">by <span class="highlight-text">Will Lewis</span> -
                  <span>5 Days Ago</span>
                </p>

                <p class="mb-30">
                  Lorem Ipsum is therefore always free from repetition
                  injected humour, or non-characteristic words looks
                  reasonable etc.
                </p> -->
                <!-- <div class="row">
                  <div class="col-6">
                    <a href="#!" class="details_btn"> - Continue Reading</a>
                  </div>
                  <div class="col-6">
                    <a href="#!" class="comment_btn float-right"><i class="far fa-comment mr-1"></i>
                      03</a>
                  </div>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="blog_grid decrease_size">

              <a href="#!" class="item_image">
                <img src="assets/images/blog-img2.png" alt="image_not_found">
              </a>
              <div class="item_content">
                <h3 class="item_title">
                  <a href="#!">Box Industry Keeps Supply Chain
                    Moving Amid COVID-19
                    Challenges</a>
                </h3>

                <!-- <p class="author-name">by <span class="highlight-text">Will Lewis</span> -
                  <span>5 Days Ago</span>
                </p>
                <p class="mb-30">
                  Lorem Ipsum is therefore always free from repetition
                  injected humour, or non-characteristic words looks
                  reasonable etc.
                </p>
                <div class="row">
                  <div class="col-6">
                    <a href="#!" class="details_btn"> - Continue Reading</a>
                  </div>
                  <div class="col-6">
                    <a href="#!" class="comment_btn float-right"><i class="far fa-comment mr-1"></i>
                      03</a>
                  </div>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="blog_grid decrease_size">

              <a href="#!" class="item_image">
                <img src="assets/images/blog-img3.png" alt="image_not_found">
              </a>


              <div class="item_content">
                <h3 class="item_title">
                  <a href="#!">Box Industry Keeps Supply Chain
                    Moving Amid COVID-19
                    Challenges</a>
                </h3>

                <!-- <p class="author-name">by <span class="highlight-text">Will Lewis</span> -
                  <span>5 Days Ago</span>
                </p> -->

                <!-- <p class="mb-30">
                  Lorem Ipsum is therefore always free from repetition
                  injected humour, or non-characteristic words looks
                  reasonable etc.
                </p>

                <div class="row">
                  <div class="col-6">
                    <a href="#!" class="details_btn"> - Continue Reading</a>
                  </div>
                  <div class="col-6">
                    <a href="#!" class="comment_btn float-right"><i class="far fa-comment mr-1"></i>
                      03</a>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact-info-section" class="contact-info-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-left">
          <div class="section_title increase_size mr--30 c_slide_in">
            <span class="highlight-line">Contact us</span>
            <h2 class="title_text mb-30">
              <span class="">
                <span class="">
                  Get In Touch
                </span>
              </span>
            </h2>
          </div>
          <div class="c-maininfo contact-info">
            <a href="">+91–9894666552</a>
          </div>
          <!-- <div class="c-maininfo contact-info">
						<a href="">+91–9629716155</a>
					</div> -->
          <div class="c-maininfo mail-info">
            <a href="mailto:contact@genpixels.com">contact@genpixels.com</a>
          </div>
          <div class="c-maininfo address-info">
            <a href="">Plot No.LIG 112379, Gandhimanagar, Peelamedu,Coimbatore-641004</a>
          </div>
          <p>Having trouble? Find the answer to your query here.<br> Don’t hasiate to contact us!</p>
        </div>
        <!-- <div class="col-md-6 text-right">
          <div class="form-contact">
            <form>
              <form action="" id="contact-form" method="post" role="form">

                <div class="form-group">
                  <input type="text" name="user_name" class="form-control" id="name" placeholder="Your name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="user_email" id="email"
                    placeholder="Your email address">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" placeholder="Your message"></textarea>
                </div>

                <div class="text-right"> <Button type="submit" class="submit-btn" value="Send">
                    Send</Button></div>
              </form>
            </form>
          </div>
        </div> -->
      </div>
    </div>
  </section>
</main>


<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="error_msg"></p>
  </div>
</div>
