<main>
    <section id="banner_section"
        class="banner_section software_banner software_banner_terms deco_wrap d-flex align-items-center text-white clearfix">
       
        <div class="deco_image bg_shape_2" style="background:url(assets/images/banner-bg.png);height:90px;"></div>
    </section>
    <!-- banner_section - end
				================================================== -->


    <!-- service_section - start
				================================================== -->
    <!-- feature_section - end
				================================================== -->


    <!-- blog_section - start
				================================================== -->
    <section id="blog_section" class="blog_section sec_ptb_120 clearfix">
        <div class="container">
            <div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">
                <div class="row">

                    <div class="col-lg-12 col-md-2 col-sm-12">
                        <h1 class="text-center">Terms and Conditions</h1>
                        <p>
                            Please read these terms and conditions of use carefully before accessing, using or
                            obtaining any materials, information, products or services. By accessing, the Genpixels
                            website, mobile or tablet application, or any other feature or other Genpixels platform
                            (collectively “Our Website”) you agree to be bound by these terms and conditions
                            (“Terms”) and our Privacy Policy (Insert link of Privacy policy). If you do not accept
                            all of these Terms, then you may not use Our Website. In these Terms, “we”, “us”, “our”
                            or “Genpixels” refers to Genpixels Software Company, and “you” or “your” refers to you
                            as the user of Our Website.
                        </p>
                        <h4>
                            THESE TERMS INCLUDE AN ARBITRATION CLAUSE AND A WAIVER OF YOUR RIGHT TO PARTICIPATE IN A
                            CLASS ACTION OR REPRESENTATIVE LAWSUIT.
                        </h4>
                        <p>
                            We may modify these Terms, for any reason at any time, by posting a new version on Our
                            Website; these changes do not affect rights and obligations that arose prior to such
                            changes. Your continued use of Our Website following the posting of modified Terms will be
                            subject to the Terms in effect at the time of your use. Please review these Terms
                            periodically for change. If you object to any provision of these Terms or any subsequent
                            modifications to these Terms or become dissatisfied with Our website in any way, your only
                            recourse is to immediately terminate use of Our Website.
                        </p>
                        <p>
                            As a condition of use, you promise not to use the Services for any purpose that is unlawful
                            or prohibited by these Terms, or any other purpose not reasonably intended by 500px. By way
                            of example, and not as a limitation, you agree not to use the Services:
                        </p>
                        <p>
                            1) To abuse, harass, threaten, impersonate or intimidate any person.
                            2) To post or transmit, or cause to be posted or transmitted, any content that is libelous,
                            defamatory, obscene, pornographic, abusive, offensive, profane, or that infringes any
                            copyright or other right of any person.
                            3) To communicate with 500px representatives or other users in an abusive or offensive
                            manner.
                            4) For any purpose (Including posting or viewing content) that is not permitted under the
                            laws of jurisdiction where you use the Services.
                            5) To post or transmit, or cause to be posted or transmitted, any communication designed or
                            intended to obtain password, account, or private information from any 500px user.
                            6) To create or transmit unwanted ‘spam’ to any person or any URL.
                            7) To create multiple accounts for the purpose of voting for or against users’ visual
                            content.
                            8. To post copyrighted content that does not belong to you, unless you are commenting on
                            visual content on blogs, where you may post such content subject to providing appropriate
                            attribution to the copyright owner and a link to the source of the content.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>