<main>
    <section id="banner_section"
        class="banner_section software_banner software_banner_terms deco_wrap d-flex align-items-center text-white clearfix">
        <div class="deco_image bg_shape_2" style="background:url(assets/images/banner-bg.png);height:90px;"></div>
    </section>
    <!-- banner_section - end
				================================================== -->


    <!-- service_section - start
				================================================== -->
    <!-- feature_section - end
				================================================== -->


    <!-- blog_section - start
				================================================== -->
    <section id="blog_section" class="blog_section sec_ptb_120 clearfix">
        <div class="container">
            <div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">
                <div class="row">

                    <div class="col-lg-12 col-md-2 col-sm-12">
                        <h1 class="text-center">Privacy Policy</h1>
                        <p>
                            Our privacy policy explains how we treat your personal data and protect your privacy when
                            you use our Services. By using our Services, you agree that Google can use such data in
                            accordance with our privacy policy. You and Google also agree to the
                            Google Ads Controller-Controller Data Protection Terms.
                        </p>
                        <p>We use your personal information only for providing and improving the Site. By using the
                            Site, you agree to the collection and use of information in accordance with this policy.
                        </p>
                        <h4>Information collection and use:</h4>
                        <p>While using our site, we may ask you to provide us with certain personally identifiable
                            information that can be ued to contact or identify you. Personally identifiable information
                            may include, but is not limited to your name (“Personal Information”)
                        </p>
                        <h4>Log Data:</h4>
                        <p>
                            Like many site operators, we collect information that your browser sends whenever you visit
                            our Site(“Log Data”). This Log Data may include information such as your computer’s internet
                            protocol (“IP”) address, browser type, browser version, the pages of your Site that you
                            visit, the time and date of your visit, the time spent on those pages and other statistics.
                        </p>
                        <p>
                            You will ensure that at all times you use the Services, the Properties have a clearly
                            labeled and easily accessible privacy policy that provides end users with clear and
                            comprehensive information about cookies, device-specific information, location information
                            stored on, accessed on, or collected from end users’ devices in connection with the
                            Services, including, as applicable, information about end users’ options for cookie
                            management. You will use commercially reasonable efforts to ensure that an end user gives
                            consent to the storing and accessing of cookies, device-specific information, location
                            information, or other information on the user’s device in connection with the Services where
                            such consent is required by law.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>